<app-header [qtdPedidos]="qtdPedidos"></app-header>

<div class="container" style="margin-left: 200px; margin-top: 20px;">
  <div class="card" *ngFor="let prato of pratos" style="color: white;">
    <img src="./../../../assets/pratos/image 1.svg" alt="prato.nome">
    <p>{{prato.nome}}</p>
    <p>{{prato.preco}}</p>
    <button (click)="alterarQuantidade('remove', prato.id)">-</button>
    <button (click)="alterarQuantidade('add', prato.id)">+</button>
    <p>{{prato.qtd}}</p>
    <button (click)="addPedido(prato)">Add Pedido</button>
  </div>

</div>
