<div class="container">
  <div class="content-left">
    <img src="./../../../assets/logo.svg" alt="Logo">
  </div>
  <div class="content-right">
    <div class="card">
      <h4 class="title">Crie sua conta</h4>
      <form class="form">
        <label>Seu nome</label>
        <input type="text" placeholder="Exemplo: Maria da Silva">
        <label class="senha">Email</label>
        <input type="text" placeholder="Exemplo: exemplo@exemplo.com.br">
        <label class="senha">Senha</label>
        <input type="text" placeholder="No mínimo 6 caracteres">
        <button> Criar Conta </button>
      </form>

      <a (click)="login()">Já tenho uma conta</a>

    </div>
  </div>
</div>
